{% extends 'filters/filter_base.html' %}

{% block filter_fields %}
    {% if user.is_staff %}
        <div class="filter_inner">
            {{ filter.form.id.label_tag }}
            {{ filter.form.id }}
        </div>
        <div class="filter_inner">
            {{ filter.form.date_created.label_tag }}
            {{ filter.form.date_created }}
        </div>
    {% endif %}
    <div class="filter_inner">
        {{ filter.form.price.label_tag }}<br>
        {{ filter.form.price }}
    </div>
    <div class="filter_inner">
        {{ filter.form.category.label_tag }}
        {{ filter.form.category }}
    </div>
    <div class="filter_inner">
        {% if filter.form.vendor.field.choices %}
            {{ filter.form.vendor.label_tag }}
            {{ filter.form.vendor }}
        {% endif %}
    </div>
{% endblock %}