.form_content {
    display: flex;
    justify-content: center;
}

.form_outer {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 2px 1px rgb(0 0 0 / 50%), 0 0 4px 3px rgb(0 0 0 / 50%);
}

.form_div {
    width: 50%;
    height: 100%;
    margin-bottom: 90px;
    background-color: #2b6777;
    color: white;
    font-family: 'Jost', sans-serif;
}

.custom_form,
.login_title,
.register_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom_form {
    width: 100%;
}

.custom_form > * {
    margin-bottom: 10px;
    width: 450px;
}

.form_item input {
    width: 100%;
    border: 0;
    transition: 0.5s;
    border-radius: 4px;
}

.form_item input:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.form_item input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form_item input:focus {
    outline: none;
}

.custom_form button {
    background: #c8d8e4;
    color: #2b6777;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    font-weight: 600;
}

.custom_form button:hover {
    background: white;
    color: #2b6777;
}

.form_img {
    width: 50%;
    height: 100%;
    background-size: cover;
}

.login_img {
    background: url('../img/pc1.png') no-repeat center;
}

.register_img {
    background: url('../img/pc2.png') no-repeat center;
}

#forward_link {
    color: #f2f2f2;
    font-weight: 600;
}

.login_title h2,
.register_title h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login_title h2 {
    margin-top: 110px;
}

.register_title h2 {
    margin-top: 50px;
}

.custom_form h5 {
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
}

.custom_form h6 {
    font-weight: lighter;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 10px;
}

.custom_form input {
    margin-top: 20px;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #f2f2f2;
}

.form_error ul,
.form_item label {
    padding: 0;
    color: red;
    font-size: 14px;
    list-style-type: none;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 1100px) {
    .form_outer {
        width: 95%;
    }
}


@media screen and (max-width: 980px) {
    .custom_form > * {
        width: 350px;
    }
}


@media screen and (max-width: 780px) {
    .form_img {
        display: none;
    }

    .form_div {
        width: 100%;
    }

    .custom_form > * {
        width: 90%
    }
}

@media screen and (max-width: 450px) {
    .custom_form h2 {
        font-size: 20px;
    }

    .custom_form h5 {
        font-size: 16px;
    }

    .custom_form h6 {
        font-size: 15px;
    }
}