
.main_products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media screen and (max-width: 992px) {
    .main_products {
        width: 100%;
    }
}

.main_products > div {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 50%), 0 0 1px 0 rgb(0 0 0 / 50%);
    padding: 10px;
    background: white;
}

.card_img {
    width: 100%;
    border-radius: 10px;
    align-self: center;
}

.inner_card {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card_button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_name,
.details_btn {
    text-decoration: none;
    cursor: pointer;
}

.details_img {
    width: 17px;
    height: 17px;
}

.details_btn {
    border-radius: 5px;
    width: 87px;
    text-align: center;
    height: 35px;
    font-weight: 600;
    font-size: 13px;
    background: #52ab98;
    color: white;
}

@media screen and (max-width: 340px) {
    .details_btn {
        width: 90px;
    }
}

.details_btn:hover {
    color: white;
    background-color: #52aba2;
}

.price_comb {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.product_price {
    margin-top: 10px;
    color: #2b6777;
    font-weight: bolder;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    transform: scaleY(1.4);
}

.card_id {
    color: gray;
    text-decoration: underline dotted;
}

.card_name {
    width: 100%;
    height: 40px;
    font-size: 14px;
    align-self: center;
    margin-top: 10px;
    color: black;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

@media (max-width: 1125px) {
    .card_img {
        width: 100%;
        height: auto;
    }

    .card_name,
    .inner_card {
        width: 100%;
    }
}

#empty_products_text {
    color: #2b6777;
    font-family: 'Montserrat Alternates', sans-serif;
}

#empty_products_outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#empty_products_img {
    width: 300px;
    height: auto;
}

/* SEARCH UNDER NAVIGATION */

.search_div {
    height: 400px;
    width: 100%;
    background: url('../img/home-img.png') no-repeat center;
    background-size: cover;
}

@media (max-width: 750px) {
    .search_div {
        height: 260px;
    }
}

#search {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 35%;
    min-width: 170px;
}

@media screen and (max-width: 777px) {
    #search {
        width: 50%;
    }
}

#search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: block;
    font-size: 14px;
    border-radius: 20px;
    padding: 0 20px;
    padding-bottom: 2px;
}

.main-search {
    padding: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -1px;
    right: 5px;
    color: black;
    text-align: center;
    background: url('../img/search.png') no-repeat;
    background-size: 40px;
    border: 0;
}

#searchline {
    opacity: 0.8;
    background: white;
}

#searchline:focus {
    cursor: initial;
}

#searchline::-webkit-input-placeholder {
    color: black;
    opacity: 1;
}

@media screen and (max-width: 750px) {
    #search input {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 600px) {
    #search input {
        font-size: 0.8em;
    }
}