@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    min-height: 100vh;
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus, .btn:active, .btn:hover{
    box-shadow: none!important;
    outline: 0;
}

.body_outer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.left_panel {
    flex-basis: 28%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}

.right_panel {
    box-shadow: 0 0 1px 0 rgb(0 0 0 / 50%), 0 0 1px 0 rgb(0 0 0 / 50%);
    flex-basis: 70%;
    padding: 20px;
}

@media screen and (max-width: 992px) {
    .body_outer {
        flex-direction: column;
    }

    .right_panel {
        flex-basis: auto;
        width: 100%;
    }
}

