body { 
    padding-top: 30px; 
}

@media (min-width: 900px) {
	.card-img-top {
		max-width: 200px;
		max-height: 200px;
	}
}

.dropdown {
	display: flex;
	flex-direction: row-reverse;
}

@media (max-width: 320px) {
	.dropdown button {
		font-size: 13px;
	}
	.dropdown a {
		font-size: 13px;
	}
}

.dropdown-toggle {
	margin: 5px;
	width: 150px;
}

.pagination > li > a {
	color: #6c757d;
}

.pagination > li > a:hover {
	color: black;
}

.card-img-top {
	align-self: center;
	min-width: 200px;
	min-height: 200px;
}

.arrowbtn {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    border-color: #5F9EA0;
}

.arrowbtn:hover {
	border-color: #00BFFF;
}

.arrowright {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.error_text {
	color: #ff6347;
	text-shadow: 1px 1px 2px black;
}

.post-form input {
	font-size: 15px;
}

.imagediv {
	text-align: center;
}

.productbutton {
	text-align: center;
	margin-bottom: 20px;
}

.productbutton > a {
	width: 90%;
}
