nav {
    background: #F7F7F7;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
    -webkit-transition: .1s;
    -webkit-background-clip: text;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: white;
    -webkit-text-stroke: 0.5px white;
}

#brand-img {
    height: 50px;
    padding-bottom: 4px;
}

.navbar-toggler {
    border: 0;
}

@media (max-width: 300px) {
    .navbar-brand {
        font-size: 14px;
    }
}

.dropdown-menu {
    background: #3E6190;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover,
.dropdown-item:active {
    background-color: #001540;
    color: white;
}

@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover > .submenu {
        display: block;
    }
}