.main_products {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

@media screen and (max-width: 950px) {
    .main_products {
        width: 100%;
    }
}

.main_products > div {
    margin: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card_img {
    width: 250px;
    height: 140px;
    border-radius: 10px;
    align-self: center;
    transition: 0.3s;
}

.card_img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.main_products p {
    width: 250px;
    height: 40px;
    font-size: 14px;
    align-self: center;
    margin-top: 10px;
    color: white;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.inner_card {
    width: 250px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price_comb h6,
.price_comb h5 {
    margin: 0;
    color: white;
}

.price_comb h6 {
    font-size: 14px;
}

.price_comb h5 {
    font-weight: bolder;
}

.inner_card > a {
    color: white;
    height: 40px;
    width: 100px;
    text-decoration: inherit;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
    margin-top: 5px;
}

.inner_card > a:hover {
    transform: scale(1.02);
    color: black;
    background: white;
    border: 2px solid black;
}

@media (max-width: 1125px) {
    .card_img {
        width: 100%;
        height: auto;
    }

    .main_products p,
    .inner_card {
        width: 100%;
    }
}

.sort_list {
    list-style: none;
    color: white;
    float: right;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.sort_link {
    text-decoration: none;
    color: white;
}

.sort_title {
    padding-right: 5px;
}

.sort_link:hover {
    color: white;
    -webkit-text-stroke: 0.5px white;
}


@media (max-width: 320px) {
    .sort_list {
        float: none;
        justify-content: space-around;
        font-size: 14px;
    }
}

.left_panel img {
    padding-bottom: -20px;
    width: 30px;
}