.sort_list {
    list-style: none;
    color: black;
    float: right;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 30px;
    padding: 0;
}

.sort_link {
    text-decoration: none;
    color: #2b6777;
}

.sort_title {
    padding-right: 5px;
    color: #2b6777;
}

.sort_link:hover {
    color: #2b6777;
}


@media (max-width: 320px) {
    .sort_list {
        float: none;
        justify-content: space-around;
        font-size: 14px;
    }
}