body { 
    padding-top: 30px; 
}

@media (min-width: 900px) {
	.card-img-top {
		max-width: 200px;
		max-height: 200px;
	}
}

.dropdown {
	display: flex;
	flex-direction: row-reverse;
}

@media (max-width: 320px) {
	.dropdown button {
		font-size: 13px;
	}
	.dropdown a {
		font-size: 13px;
	}
}

.dropdown-toggle {
	margin: 5px;
	width: 150px;
}

.pagination > li > a {
	color: #6c757d;
}

.pagination > li > a:hover {
	color: black;
}

.card-img-top {
	align-self: center;
	min-width: 200px;
	min-height: 200px;
}

.arrowbtn {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    border-color: #5F9EA0;
}

.arrowbtn:hover {
	border-color: #00BFFF;
}

.arrowright {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.error_text {
	color: #ff6347;
	text-shadow: 1px 1px 2px black;
}

.success_text {
	color: green;
}

.post-form input {
	font-size: 15px;
}

.imagediv {
	text-align: center;
}

.productbutton {
	text-align: center;
	margin-bottom: 20px;
}

.productbutton > a {
	width: 90%;
}

.details_card {
    margin-bottom: 30px;
}

.details_card {
    word-break: break-all;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.details_card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}

.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}

.table-product td{
    border-top: 0 solid #dee2e6 !important;
    color: #728299!important;
}

.img-responsive {
    max-width: 300px;
}

@media (max-width: 500px) {
    .img-responsive {
        max-width: 200px;
    }

    .details_name {
        font-size: 25px;
    }
}

.num_input {
    height: 35px;
}

.product_description {
    margin-top: 20px;
}

.product_name {
    max-width: 50%;
}

.del_prod_from_cart {
    width: 180px;
}

.prod_amount {
    color: gray;
}

.cross {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.cross:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c";
    font-size: 30px;
    color: black;
    line-height: 20px;
    text-align: center;
}

.ex2:after {
    content: '\d7';
}

.outercross {
    width: 20px;
}

.checkout_div input{
    height: 30px;
    font-size: 15px;
}

.checkout_div textarea{
     font-size: 15px;
}

.checkout_title { 
    font-size: 22px;
}

#checkout_payment{
    border-radius: 5px;
}

.cart_options a {
    float: right;
    max-width: 300px;
    width: 100%;
}

@media (max-width: 767px) {
	.cart_options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .cart_options a {
        float: none;
        width: auto;
    }
}