{% extends 'base.html' %}
{% load static %}

{% block javascript %}
    <script>
        let imgForm = document.querySelectorAll(".img-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-img-button")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

        let formNum = imgForm.length - 1
        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()

            if (formNum < {{ max_img_num }} - 1) {
                let newForm = imgForm[0].cloneNode(true)
                let formRegex = RegExp(`form-(\\d){1}-`, 'g')

                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
                container.insertBefore(newForm, addButton)

                totalForms.setAttribute('value', `${formNum + 1}`)
            } else if (formNum === {{ max_img_num }} - 1) {
                var error = document.getElementById("images-error");
                if (!error) {
                    let p = document.createElement('p');
                    p.id = "images-error"
                    p.innerHTML = 'Максимум 3 изображения';
                    container.insertBefore(p, addButton)
                }
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container py-4">
        <form id="form-container" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.image_formset.management_form }}
            {% for form in form.image_formset %}
                <div class="img-form">
                    {{ form.as_p }}
                </div>
            {% endfor %}
            <button id="add-img-button" class="btn btn-primary" type="button">Добавить еще одно изображение</button>
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>
{% endblock %}

