{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/filter_form.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/sort_products.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/products_list.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/empty_products_list.css' %}"/>
{% endblock %}

{% block javascript %}
    <script>
        function openProductAddForm() {
            document.getElementById("outer_product_form").style.display = "flex";
        }

        function closeProductAddForm() {
            document.getElementById("outer_product_form").style.display = "none";
        }

        function addImageForm() {
            let imgForm = document.querySelectorAll(".img-form");
            let container = document.querySelector("#product_add_form");
            let buttonsDiv = document.querySelector("#product_form_buttons");
            let totalForms = document.querySelector("#id_form-TOTAL_FORMS");

            let formNum = imgForm.length - 1;

            if (formNum < {{ max_img_num }} -1) {
                let newForm = imgForm[0].cloneNode(true);
                let formRegex = RegExp(`form-(\\d){1}-`, 'g');
                formNum++;
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`);
                container.insertBefore(newForm, buttonsDiv);

                let currentForm = document.querySelector(`#id_form-${formNum}-image`).parentNode;
                let inputError = currentForm.querySelector('.errorlist');
                if (inputError) {
                    inputError.remove();
                }

                totalForms.setAttribute('value', `${formNum + 1}`);
            } else if (formNum === {{ max_img_num }} -1) {
                var error = document.getElementById("images_error");
                if (!error) {
                    let p = document.createElement('p');
                    p.id = "images_error";
                    p.innerHTML = `Товар может иметь максимум {{max_img_num}} изображения`;
                    container.insertBefore(p, buttonsDiv);
                }
            }
            document.getElementById('btn_add_prod').scrollIntoView();
        }

        function closePopUp(e) {
            var popUpMenu = document.getElementById("outer_product_form");
            if (e.target.id === "popup_btn" || (popUpMenu.contains(e.target) && e.target.id !== "popup_close")) {
                popUpMenu.style.display = "flex";
            } else {
                popUpMenu.style.display = "none";
            }
        }

        document.addEventListener("click", closePopUp)

        {% if form.errors or form.image_formset.errors %}
            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("outer_product_form").style.display = "flex";
            });
        {% endif %}
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="body_outer">
            <div class="left_panel">
                {% include 'utils/filter_products.html' %}
            </div>
            <div class="right_panel">
                <div id="outer_product_form">
                    <div id="form_box">
                        <form id="product_add_form" method="post" enctype="multipart/form-data">
                            <div class="close_button">
                                <button type="button" class="btn" onclick="closeProductAddForm()">
                                    <i id="popup_close" class="fa fa-times close_btn" aria-hidden="true"></i>
                                </button>
                            </div>
                            <h3 class="form_title">Добавление товара</h3>
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form_field">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {{ field.errors }}
                                </div>
                            {% endfor %}
                            {{ form.image_formset.management_form }}
                            {% for form in form.image_formset %}
                                <div class="img-form">
                                    {% for field in form %}
                                        <div class="form_field">
                                            {{ field.label_tag }}
                                            {{ field }}
                                            {{ field.errors }}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <div id="product_form_buttons">
                                <button id="btn_add_img" class="btn" type="button"
                                        onclick="addImageForm()">
                                    Добавить еще одно изображение
                                </button>
                                <button id="btn_add_prod" class="btn" type="submit">Добавить</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="top_list">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% else %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="buttons_top">
                        <a id="popup_btn" class="btn btn-primary" onclick="openProductAddForm()">Добавить новый
                            товар</a>
                        {% include 'utils/sort_products.html' %}
                    </div>
                </div>
                {% if products %}
                    <div class="products_list">
                        {% for product in products %}
                            <div class="product_item">
                                <div class="product_top">
                                    <div class="corner_data">
                                        <p>Создан: {{ product.date_created }}</p>
                                        <p>Код: {{ product.id }}</p>
                                    </div>
                                    <div class="product_buttons">
                                        <div class="product_buttons_inner">
                                            <form action="{% url 'product-delete' pk=product.id %}?next={{ request.get_full_path }}" method="post">
                                                {% csrf_token %}
                                                <a class="btn" href="{% url 'product-update' pk=product.id %}">
                                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                                </a>
                                                <button type="submit" class="btn">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="product_main">
                                    <div class="product_image">
                                        <img src="{% get_media_prefix %}{{ product.image }}"
                                             alt='product_image'>
                                    </div>
                                    <div class="info_item name_div">
                                        <p class="info_title">Название</p>
                                        <p class="info_text product_name"><a
                                                href="{% url 'product-update' pk=product.id %}">{{ product.name }}</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <div>
                                        <div class="info_item">
                                            <p class="info_title">Цена</p>
                                            <p class="info_text">{{ product.price }} ₴</p>
                                        </div>
                                        <div class="info_item">
                                            <p class="info_title">Количество</p>
                                            <p class="info_text">{{ product.amount }}</p>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="info_item">
                                            <p class="info_title">Производитель</p>
                                            <p class="info_text">{{ product.vendor__name }}</p>
                                        </div>
                                        <div class="info_item">
                                            <p class="info_title">Категория</p>
                                            <p class="info_text">{{ product.category__name }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% include 'utils/pagination.html' %}
                {% else %}
                    {% include 'utils/empty_products_list.html' %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
