{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <style>
        .image_formset {
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container py-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.image_formset.management_form }}
        {% for image_form in form.image_formset %}
        <div class="image_formset">
            {% if image_form.instance.image %}
                <img src="{{ image_form.instance.image.url }}" width="200" height="200" alt="">
            {% else %}
                <img src="{% get_media_prefix %}{{ default_product_image }}" width="200" height="200" alt="">
            {% endif %}
            {{ image_form.as_p }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
</div>
{% endblock %}