{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Computer Shop</title>
</head>
<body>
<!---->
<div class="container">
    <div class="account_grid">
        <div class=" login-right">
            <h3>Зарегестрированным пользователям</h3>
            <p>Если у вас уже есть зарегестрированный акканут, пожалуйста, войдите</p>
            <form method="post"> {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Войти">
            </form>
        </div>
    </div>
</div>
</body>
</html>