<footer>
    <div id="footer_div">
        <div class="footer_inner">
            <ul class="footer_column">
                <li class="footer_title">Info</li>
                <li><a class="footer_item" href="#">About us</a></li>
            </ul>
            <ul class="footer_column">
                <li class="footer_title">Tools</li>
                <li><a class="footer_item" href="#">API</a></li>
            </ul>
        </div>
        <div class="footer_inner">
            <ul class="footer_column">
                <li class="footer_title">Contacts</li>
                <li><a class="footer_item" href="#">Telegram</a></li>
                <li><a class="footer_item" href="#">Email</a></li>
            </ul>
            <ul class="footer_column">
                <li class="footer_title">Media</li>
                <li><a class="footer_item" href="#">Instagram</a></li>
            </ul>
        </div>
    </div>
    <p id="copyright">Copyright © 2022. All rights reserved</p>
</footer>
