<footer>
    <div class="footerdiv">
        <div>
            <ul>
                <li class="title">Info</li>
                <li><a href="#">About us</a></li>
            </ul>
            <ul>
                <li class="title">Tools</li>
                <li><a href="#">API</a></li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="title">Contacts</li>
                <li><a href="#">Telegram</a></li>
                <li><a href="#">Email</a></li>
            </ul>
            <ul>
                <li class="title">Media</li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </div>
    <p id="copyright">Copyright © 2022. All rights reserved</p>
</footer>