{% extends "base.html" %}

{% block content %}
    <div class="dropdown d-flex flex-row-reverse">
        <button class="btn dropdown-toggle shadow-none" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">Отсортировать</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="?ordering=-product_price">Возрастание цены</a></li>
            <li><a class="dropdown-item" href="?ordering=product_price">Убывание цены</a></li>
        </ul>
        <button class="btn dropdown-toggle shadow-none" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                aria-expanded="false">Тип товара</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="/">Все</a></li>
            {% for p_type in product_types %}
                <li><a class="dropdown-item" href="?product_type={{ p_type.id }}">{{ p_type.type_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        {% for product in products.results %}
            <div class="col col-lg-3 mb-4">
                <div class="card h-100">
                    <div class="imagediv">
                        <a href="{% url 'product details' product.id %}">
                            <img href="" src="{{ product.product_image }}" class="card-img-top" alt="Product image">
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                        <p class="card-text">{{ product.product_price }}₴</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <ul class="pagination justify-content-center">
        {% if products.previous %}
            <li class="page-item">
                <a class="page-link" href="{{ products.previous }}" tabindex="-1">Назад</a>
            </li>
            <li class="page-item"><a class="page-link" href="{{ products.previous }}">{{ current_page|add:"-1" }}</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Назад</a>
            </li>
        {% endif %}
        <li class="page-item"><a class="page-link" style="color: deepskyblue">{{ current_page }}</a></li>
        {% if products.next %}
            <li class="page-item"><a class="page-link" href="{{ products.next }}">{{ current_page|add:"1" }}</a></li>
            <li class="page-item">
                <a class="page-link" href="{{ products.next }}">Далее</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Далее</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}