{% load static %}

<nav class="navbar navbar-expand-md navbar-light py-0">
    <div class="container-fluid">
        <a href="{% url 'index' %}">
            <img id="brand-img" src="{% static 'img/brand-icon.png' %}" alt="brand-icon"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Главная</a></li>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Админ-панель</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a class="dropdown-item" href="{% url 'admin-products' %}">Управление товарами</a>
                                </li>
                                {% if user.is_manager %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'admin-orders' %}">Управление заказами</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'user-cart' %}">Корзина</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'user-orders' %}">Мои заказы</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Профиль</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выход</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'registration' %}">Регистрация</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Вход</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
