{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% if cart|length > 0 %}
            <div class="row w-100">
                <div class="col-lg-12 col-md-12 col-12">
                    <table id="shoppingCart" class="table table-condensed table-responsive">
                        <thead>
                        <tr>
                            <th style="width:60%">Товар</th>
                            <th style="width:12%">Цена</th>
                            <th style="width:10%">Количество</th>
                            <th style="width:16%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart_item in cart %}
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-md-3 text-left">
                                            <a href="{% url 'product details' cart_item.product.id %}"><img
                                                    src="{{ cart_item.product.product_image }}"
                                                    alt="product image"
                                                    class="img-fluid d-none d-md-block rounded mb-2 shadow "></a>
                                        </div>
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <h6>{{ cart_item.product.product_name }}</h6>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price">{{ cart_item.product.product_price }}₴</td>
                                <td data-th="Amount" align="center">{{ cart_item.amount }}</td>
                                <td class="actions" data-th="" align="center">
                                    <div class="outercross">
                                        <a href="{% url 'remove from cart' cart_item.product.id %}?next={% url 'shopping cart' %}">
                                            <div class="cross ex2"></div>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="cart_options float-left">
                        <a href="{% url 'clear shopping cart' %}?next={% url 'shopping cart' %}">Очистить корзину</a>
                        <a href="{% url 'index' %}">Продолжить покупки</a>
                    </div>
                    <div class="float-right text-right">
                        <h4>Общая стоимость: {{ cart_total }}₴</h4>
                    </div>
                </div>
            </div>
            <div class="row d-flex flex-row-reverse">
                <div class="col-sm-6 order-md-2 text-md-right">
                    <a href="{% url 'checkout' %}" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Оформить заказ</a>
                </div>
            </div>
        {% else %}
            <h2 align="center">Корзина пуста</h2>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a href="{% url 'index' %}">Продолжить покупки</a>
            </div>
        {% endif %}
    </div>
{% endblock %}