{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/amount_input.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container py-4">
        <h2 id="cart_title">Корзина</h2>
        {% if cart_items %}
            <div id="cart_list">
                {% for item in cart_items %}
                    <div class="cart_item">
                        <a class="product_link" href="{% url 'product-detail' pk=item.product_id %}">
                            <img class="cart_item_img" src="{% get_media_prefix %}{{ item.image }}"
                                 alt='product_image'>
                        </a>
                        <div class="item_main">
                            <div class="cart_item_upper">
                                <div class="cart_links">
                                    <div class="name_div">
                                        <a class="product_link" href="{% url 'product-detail' pk=item.product_id %}">
                                            {{ item.product__name }}
                                        </a>
                                    </div>
                                </div>
                                <form method="post"
                                      action="{% url 'delete-cart-item' pk=item.product_id %}?next={{ request.get_full_path }}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn item_delete"><i class="fa fa-trash"></i></button>
                                </form>
                            </div>
                            <div class="cart_item_lower">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form change_amount">
                                        <input name="pk" type="hidden" value="{{ item.product_id }}">
                                        {% include 'utils/amount_input.html' %}
                                    </div>
                                </form>
                                <p class="item_price">{{ item.price }} ₴</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="cart_bottom_links">
                    <div class="checkout_div">
                        <p class="cart_total">{{ cart_total }} ₴</p>
                        <a class="btn checkout" href="{% url 'order-create' %}">Оформить заказ</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="cart_div">
                <div id="empty_cart_outer">
                    <img id="empty_cart_img" src="{% static 'img/empty_cart.png' %}" alt="empty-cart">
                    <p id="empty_cart_text">Корзина пуста</p>
                    <p id="forward_text">Но это можно исправить перейдя на
                        <a id="forward_index" href="{% url 'index' %}">главную</a> страницу :)
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}