{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <style>
        .change-amount {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .change-amount div {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container py-4">
        {% if cart_items %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>{{ item.product_id }}</td>
                        <td>
                            <img src="{% get_media_prefix %}{{ item.image }}" width="100" height="100"
                                 alt='product_image'>
                        </td>
                        <td>{{ item.product__name }}</td>
                        <td>{{ item.price }}</td>
                        <td width="240px">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form change-amount">
                                    <div>
                                        <input name="pk" type="hidden" value="{{ item.product_id }}">
                                        <input name="amount" type="number" class="form-control"
                                               value="{{ item.amount }}"
                                               max="{{ item.product__amount|add:item.amount }}" min="1">
                                    </div>
                                    <div>
                                        <button class="btn btn-primary">Изменить</button>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>
                            <button class="btn btn-danger">Удалить</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'cart clear' %}">Очистить корзину</a>
            <a href="#">Оформить заказ</a>
        {% else %}
            <p>Корзина пуста</p>
        {% endif %}
        <a href="{% url 'index' %}">На главную</a>
    </div>
{% endblock %}