{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/order_page.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form_outer">
            <form method="POST" id="order_form">
                <h1>Оформление заказа</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="order_cart">
                    {% for item in cart_items %}
                        <div class="order_product">
                            <p>{{ item.product_id }}</p>
                            <p><img src="{% get_media_prefix %}{{ item.image }}" alt='product_image'></p>
                            <p>{{ item.product__name }}</p>
                            <p>{{ item.price }}</p>
                            <p>{{ item.amount }}</p>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">Отправить в обработку</button>
            </form>
        </div>
    </div>
{% endblock %}