{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/filter_form.css' %}"/>
{% endblock %}

{% block content %}
    <div>
        <div class='search_div'>
            <form id='search' action="">
                <label for='searchline' hidden></label>
                {{ filter.form.keyword }}
                <button class="main-search"></button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="body_outer">
            <div class="left_panel">
                {% include 'filters/filter_products.html' %}
            </div>
            <div class="right_panel">
                {% include 'filters/pagination.html' %}
                {% include 'filters/sort_products.html' %}
                {% if products %}
                    <div class="main_products">
                        {% for product in products %}
                            <div>
                                <a href="{% url 'product-detail' pk=product.id %}">
                                    <img class="card_img"
                                         src='{% get_media_prefix %}{{ product.image }}'
                                         alt=""/>
                                    <p>{{ product.name }}</p>
                                </a>
                                <div class="inner_card">
                                    <div class="price_comb">
                                        <h6>цена</h6>
                                        <h5>{{ product.price }} ₴</h5>
                                    </div>
                                    <div class="card_buttons">
                                        <a class='details_btn'
                                           href="{% url 'product-detail' pk=product.id %}">Детали</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>К сожалению, список товаров пуст</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
