{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/filter_form.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/sort.css' %}"/>
{% endblock %}

{% block content %}
    <div>
        <div class='search_div'>
            <form id='search' action="">
                <label for='searchline' hidden></label>
                {{ filter.form.keyword }}
                <button class="main-search"></button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="body_outer">
            <div class="left_panel">
                {% include 'utils/filter_products.html' %}
            </div>
            <div class="right_panel">
                {% if products %}
                    {% include 'utils/sort_products.html' %}
                    <div class="main_products">
                        {% for product in products %}
                            <div>
                                <a class="product_name" href="{% url 'product-detail' pk=product.id %}">
                                    <img class="card_img"
                                         src='{% get_media_prefix %}{{ product.image }}'
                                         alt=""/>
                                    <p class="card_name">{{ product.name }}</p>
                                </a>
                                <p class="card_id">Код: {{ product.id }}</p>
                                <div class="inner_card">
                                    <div class="price_comb">
                                        <h5 class="product_price">{{ product.price }} ₴</h5>
                                    </div>
                                    <div class="card_button">
                                        <a class='btn details_btn' href="{% url 'product-detail' pk=product.id %}">
                                            <img class='details_img' src="{% static 'img/cart-icon.png' %}"
                                                 alt='details'> Детали</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% include 'utils/pagination.html' %}
                {% else %}
                    <div id="empty_products_outer">
                        <img id="empty_products_img" src="{% static 'img/empty_products.png' %}" alt="no-products">
                        <p id="empty_products_text">По заданным параметрам не найден ни один товар</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
