{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <style>
        .orders_outer {
            display: flex;
            flex-direction: row;
            justify-content: left;
            padding: 20px;
            border-bottom: 1px solid black;
        }

        .orders_order {
            margin-right: 200px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/filter_form.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="body_outer">
            <div class="left_panel">
                {% include 'filters/filter_orders.html' %}
            </div>
            <div class="right_panel">
                {% include 'filters/pagination.html' %}
                {% if orders_list %}
                    {% for order in orders_list %}
                        <div class="orders_outer">
                            <div class="orders_order">
                                <h2>Заказ №{{ order.id }}</h2>
                                <p>Дата создания заказа: {{ order.date_start }}</p>
                                {% if order.date_end %}
                                    <p>Дата завершения заказа: {{ order.date_end }}</p>
                                {% endif %}
                                <p>ФИО: {{ order.surname }} {{ order.name }} {{ order.patronymic }}</p>
                                <p>Статус: {{ order.status.name }}</p>
                                <p>Тип оплаты: {{ order.payment.type }}</p>
                                <p>Номер телефона: {{ order.phone_number }}</p>
                                <p>Почта: {{ order.email }}</p>
                                <p>Адрес доставки: {{ order.address }}</p>
                                <p>Общая стоимость товаров: {{ order.order_total }}</p>
                                {% if user.is_staff %}
                                    <a class="btn btn-primary" href="{% url 'order-update' pk=order.id %}">Детали</a>
                                {% else %}
                                    <a class="btn btn-primary" href="{% url 'order-detail' pk=order.id %}">Детали</a>
                                {% endif %}
                                <br><br>
                            </div>
                            <div class="orders_products">
                                <h5>Товары</h5>
                                <div>
                                    {% for item in order.products.all %}
                                        <div>
                                            <p>№{{ item.id }}</p>
                                            <img src="{% get_media_prefix %}{{ item.image }}" alt="" width="150"
                                                 height="150">
                                            <p>Цена: {{ item.price }}</p>
                                            <p>Название: {{ item.product.name }}</p>
                                            <p>Кол-во: {{ item.amount }}</p>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </div>
                        <br>
                    {% endfor %}
                {% else %}
                    <p>Ни одного заказа не обнаружено</p>
                    <a class="btn btn-primary" href=".">Показать все заказы</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}