{% load template_utils %}

<ul class="sort_list">
    <li>
        <p class="sort_title">Отсортировать: </p>
    </li>
    <li class="dropdown">
        {% if filter.form.sort.value %}
            <a class="sort_link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                {% for value, label in filter.form.sort.field.choices %}
                    {% if value in filter.form.sort.value %}
                        {{ label }}
                    {% endif %}
                {% endfor %}
            </a>
        {% else %}
            <a class="sort_link dropdown-toggle" href="#"
               data-bs-toggle="dropdown">все</a>
        {% endif %}
        <ul class="dropdown-menu dropdown-menu-right">
            {% for value, label in filter.form.sort.field.choices %}
                <li><a class="dropdown-item" href="?{% url_param_replace sort=value %}">{{ label }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>