{% load template_utils %}

<ul class="sort_list">
    <li>
        <p class="sort_title">Отсортировать: </p>
    </li>
    <li class="dropdown">
        {% if filter.form.sort.value %}
            {% for value, label in filter.form.sort.field.choices %}
                {% if value in filter.form.sort.value %}
                    <a class="sort_link dropdown-toggle" href="#"
                       data-bs-toggle="dropdown">{{ label }}</a>
                {% endif %}
            {% endfor %}
        {% else %}
            <a class="sort_link dropdown-toggle" href="#"
               data-bs-toggle="dropdown">все</a>
        {% endif %}
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="dropdown-item" href="?{% url_param_replace sort='price' %}">от дешевых к дорогим</a></li>
            <li><a class="dropdown-item" href="?{% url_param_replace sort='-price' %}">от дорогих к дешевым</a></li>
            <li><a class="dropdown-item" href="?{% url_param_replace sort='name' %}">по алфавиту</a></li>
            <li><a class="dropdown-item" href="?{% url_param_replace sort='-date_created' %}">новинки</a></li>
        </ul>
    </li>
</ul>