{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}"/>
{% endblock %}

{% block content %}
    <div class="profile_outer">
        <div class="title_image">
        </div>
        <div class="profile_header">
            <div class="title_data">
                <div class="name_surname">
                    <h4>{{ user_data.name }} </h4><h4>{{ user_data.surname }}</h4>
                </div>
                <h6>{{ user_data.email }} </h6>
            </div>
        </div>
        <div class="messages_div">
            {% if messages %}
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="profile_main">
            <form method="post">
                {% csrf_token %}
                <h6>Личные данные</h6>
                <div class="personal_data profile_inner">
                    <div class="profile_item">
                        <label>Имя</label>
                        {{ form.name }}
                        {% for error in form.name.errors %}
                            <label class="error">{{ error }}</label>
                        {% endfor %}
                    </div>
                    <div class="profile_item">
                        <label>Фамилия</label>
                        {{ form.surname }}
                        {% for error in form.surname.errors %}
                            <label class="error">{{ error }}</label>
                        {% endfor %}
                    </div>
                    <div class="profile_item">
                        <label>Отчество</label>
                        {{ form.patronymic }}
                        {% for error in form.patronymic.errors %}
                            <label class="error">{{ error }}</label>
                        {% endfor %}
                    </div>
                </div>
                <h6>Контакты</h6>
                <div class="contact_data profile_inner">
                    <div class="phone_number profile_item">
                        <label>Номер телефона</label>
                        {{ form.phone_number }}
                        {% for error in form.phone_number.errors %}
                            <label class="error">{{ error }}</label>
                        {% endfor %}
                    </div>
                    <div class="login profile_item">
                        <label>Логин (электронная почта)</label>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                            <label class="error">{{ error }}</label>
                        {% endfor %}
                    </div>
                </div>
                <h6>Изменение пароля</h6>
                <div class="password_data profile_inner">
                    <div class="password profile_item">
                        <label>Новый пароль</label>
                        {{ form.password1 }}
                        {% for error in form.password1.errors %}
                            <label class="error">{{ error }}</label>
                        {% endfor %}
                    </div>
                    <div class="password profile_item">
                        <label>Повторите пароль</label>
                        {{ form.password2 }}
                        {% for error in form.password2.errors %}
                            <label class="error">{{ error }}</label>
                        {% endfor %}
                    </div>
                </div>
                <div class="button_div">
                    <button>Сохранить изменения</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

